.option {
    border: 2px solid rgb(169, 169, 240);
    font-weight: 500;
    border-radius: 5px;


}

.option:hover {
    background-color: rgba(114, 209, 235, 0.333);


}

.hideradio {
    display: none;

}

input[type="radio"]:checked+label {
    /* border: 2px solid rgb(147, 189, 237); */
    background-color: rgba(114, 136, 235, 0.333);
    color: rgb(32, 49, 178);

}